
body {
  font-family: 'Cairo', sans-serif;
  background-color: #fff9e8;
  text-align: center;
  direction: rtl;
}
h1 {
  color: #d35400;
  margin-top: 2rem;
}
button {
  background-color: #f39c12;
  border: none;
  padding: 1rem 2rem;
  margin: 1rem;
  font-size: 1.2rem;
  color: white;
  border-radius: 12px;
  cursor: pointer;
}
